/* === Responsive Code For Header Section === */
@media (max-width:768px) {
    .header{
        position: relative;
    }
    .nav-bar{
        position: absolute;
        top: 100px;
        left: 0;
        right: 0;
        height: 53vh;
        width: 100vw;
        display: flex;
        justify-content: start;
        /* align-items: center; */
        z-index: 1;
        background-color: #250821;

        transform: translateY(-100%);
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: all 0.3s ease;
    }
    .navlists{
        flex-direction: column;
        margin-left: 3rem;
    }
    .header .navlists{
        gap: 30px;
    }
    .mobile-navbar-btn{
        display: block;
    }
    .active .nav-bar{
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }
    .active .mobile-navbar-btn .bx-x{
        display: block;
    }
    .active .mobile-navbar-btn .bx-menu{
        display: none;
    }
    /* .about{
        flex-direction: column-reverse;
        align-items: center;
    } */
    .home{
        grid-template-columns: 1fr;
     }
     .home-img{
        margin-bottom: 5rem;
    }
    .liquid-shape{
        width: 80%;
        left: 7%;
        margin: auto;
        top: 15%;
    }
    .skill-main{
        grid-template-columns: repeat(1,1fr);
    }
    .about{
        flex-direction: column-reverse;
    }
    
    .filter-buttons{
        margin: 1rem;
    }
    footer p{
        font-size: .9rem;
    }
}

@media (max-width:1024px) {
    
    
    .section-services{
        grid-template-columns: repeat(1,1fr);
    }
    .section-services .service-box{
        width: 100%;
    }
}
@media (max-width:991px) {
    footer{
        padding: 15px 5%;
    }
    .header{
        padding: 15px 5%;
    }
    section{
        padding: 50px 5%;
    }
    /* .navlists a{
        padding: 8px 15px;
    } */
    :root{
    --big-font:2.2rem;
    --normal-font: 1.8rem;
    --neon-box-shadow: 0 0 .8rem #12f7ff;
    --h2-font: 3rem;
    }
    .home-content{
        margin-top: 5rem;
    }
    .social-icons{
        margin-top: 2rem;
    }
    
    
}
@media (max-width:420px) {
    html{
        font-size: 80%;
    }
    footer p{
        font-size: .6rem;
    }
    .filter-buttons .btn{
        font-size: .9rem;
    }
    .img-about img{
        width: 300px;
    }
    .img-about p{
        font-size: 1rem;
    }
}